In [6]:
import sqlite3
import json
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [73]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [74]:
query = '''SELECT table_name FROM information_schema.tables'''

cursor.execute(query)

records = cursor.fetchall()

df = pd.DataFrame(records)

df.head()

                  0
0           pg_type
1          products
2  pg_foreign_table
3          pg_roles
4       pg_settings

In [62]:
query1 = '''DROP TABLE products'''

cursor.execute(query1)
cursor.execute(query)

records = cursor.fetchall()

df = pd.DataFrame(records)

df.head()

                        0
0                 pg_type
1        pg_foreign_table
2                pg_roles
3             pg_settings
4  pg_prepared_statements

In [77]:
data1 = pd.read_csv('../data_product_groups/dishwashers.csv')
data2 = pd.read_csv('../data_product_groups/campanas_extractoras.csv')

In [78]:
data1.rename(columns={'Type':'Brand', 'Title':'Model'}, inplace=True)
data2.rename(columns={'Type':'Brand', 'Title':'Model'}, inplace=True)

In [79]:
data1['Product_family'] = 'lavavajillas'
data2['Product_family'] = 'campana_extractora'

In [80]:
df = pd.concat([data1, data2])

In [67]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df.to_sql('products', engine)

In [68]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [69]:
df2 = pd.read_sql("SELECT * FROM products", db)

In [81]:
df_id = df[:5]

In [83]:
id_list = ['1297056', '1297060', '1049135', '1058556', '1218124']

In [84]:
df_id['Id'] = id_list

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df_id.to_sql('products_id', engine)