In [94]:
import sqlite3
import json
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [95]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [96]:
query = '''SELECT table_name FROM information_schema.tables'''

cursor.execute(query)

records = cursor.fetchall()

df = pd.DataFrame(records)

df.head()

                  0
0           pg_type
1  pg_foreign_table
2       products_id
3          pg_roles
4          products

In [97]:
# query1 = '''DROP TABLE user_search'''

# cursor.execute(query1)
# cursor.execute(query)

# records = cursor.fetchall()

# df = pd.DataFrame(records)

# df.head()

                  0
0           pg_type
1  pg_foreign_table
2       products_id
3          pg_roles
4          products

In [13]:
data1 = pd.read_csv('../data/eprel/clean_data/normalized_columns/1_dishwashers.csv')
data2 = pd.read_csv('../data/eprel/clean_data/normalized_columns/6_campanas.csv')

In [15]:
data1.rename(columns={'Type':'Product_family', 'Title':'Model'}, inplace=True)
data2.rename(columns={'Type':'Product_family', 'Title':'Model'}, inplace=True)

In [17]:
data1['Product_family'] = 'lavavajillas'
data2['Product_family'] = 'campana_extractora'

In [18]:
df = pd.concat([data1, data2])

In [20]:
df.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [22]:
df.head()

,Product_family,Brand,Model,Type_consumption,Consumption,Label,Other
0,lavavajillas,Iberna,IDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0
1,lavavajillas,Baumatic,BDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0
2,lavavajillas,Siemens,SN23HW00ME,"Energy consumption [per 100 cycles, based on t...",85,https://eprel.ec.europa.eu/assets/images/label...,14.0
3,lavavajillas,Bosch,SMS4HMI02E,"Energy consumption [per 100 cycles, based on t...",85,https://eprel.ec.europa.eu/assets/images/label...,14.0
4,lavavajillas,Siemens,SN23HI00KE,"Energy consumption [per 100 cycles, based on t...",84,https://eprel.ec.europa.eu/assets/images/label...,13.0

In [ ]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df.to_sql('products', engine)

In [6]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [35]:
df = pd.read_sql('''SELECT * FROM products WHERE "Brand" = ' Iberna \' AND "Model" = ' IDIH 2L952-80 \'''', db)

In [37]:
df

,index,Product_family,Brand,Model,Type_consumption,Consumption,Label,Other
0,0,lavavajillas,Iberna,IDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0

In [81]:
df_id = df[:5]

In [83]:
id_list = ['1297056', '1297060', '1049135', '1058556', '1218124']

In [84]:
df_id['Id'] = id_list

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df_id.to_sql('products_id', engine)

In [38]:
product_family_table = ['Dishwasher', 'Washer', 'TV/Monitor', 'Fridge/Freezer', 'Oven',
                        'Range hoods', 'Water heaters', 'Light']

consumption_type = ['cycle', 'cycle', 'hour', 'hour', 'cycle', 'hour', 'hour', 'hour']

In [39]:
product_family_df = pd.DataFrame()

In [40]:
product_family_df['Product_family'] = product_family_table

In [41]:
product_family_df['Consumption_type'] = consumption_type

In [42]:
product_family_df

   Product_family Consumption_type
0      Dishwasher            cycle
1          Washer            cycle
2      TV/Monitor             hour
3  Fridge/Freezer             hour
4            Oven            cycle
5     Range hoods             hour
6   Water heaters             hour
7           Light             hour

In [43]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
product_family_df.to_sql('product_family', engine)

In [98]:
user_df = pd.DataFrame(columns=['Session_id','Brand', 'Model', 'Hours_day', 'Price_kwh', 'Datetime', 'Cost', 'Product_family'])

In [99]:
user_df

Empty DataFrame
Columns: [Session_id, Brand, Model, Hours_day, Price_kwh, Datetime, Cost, Product_family]
Index: []

In [100]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
user_df.to_sql('user_search', engine)

In [160]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [147]:
df = pd.read_sql('''SELECT "Consumption_type" FROM product_family WHERE "Product_family" = 'dishwasher';''', db)

In [148]:
df

   index  Product_family Consumption_type
0      0      Dishwasher            cycle
1      1          Washer            cycle
2      2      TV/Monitor             hour
3      3  Fridge/Freezer             hour
4      4            Oven            cycle
5      5     Range hoods             hour
6      6   Water heaters             hour
7      7           Light             hour

In [161]:
df = pd.read_sql('''SELECT * FROM price_kwh''', db)

In [162]:
df

  index        Date   Price
0  None  16/10/2022  0.1548

In [155]:
price_kwh = pd.DataFrame(columns=['Date', 'Price'])

In [156]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
price_kwh.to_sql('price_kwh', engine)