In [34]:
import sqlite3
import json
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [35]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [36]:
query = '''SELECT table_name FROM information_schema.tables'''

cursor.execute(query)

records = cursor.fetchall()

df = pd.DataFrame(records)

df

                                         0
0                                  pg_type
1                                price_kwh
2                         pg_foreign_table
3                           product_family
4                                 pg_roles
5                              pg_settings
6                                 products
7                              products_id
8                   pg_prepared_statements
9                  pg_stat_progress_vacuum
10                         pg_subscription
11                            pg_attribute
12                                 pg_proc
13                                pg_class
14                              pg_attrdef
15                           pg_constraint
16                             pg_inherits
17                                pg_index
18                             pg_operator
19                             pg_opfamily
20                              pg_opclass
21                                   pg_am
22                                 pg_amop
23                               pg_amproc
24                             pg_language
25                 pg_largeobject_metadata
26                            pg_aggregate
27                        pg_statistic_ext
28                              pg_rewrite
29                              pg_trigger
30                        pg_event_trigger
31                          pg_description
32                                 pg_cast
33                pg_stat_progress_cluster
34           pg_stat_progress_create_index
35             pg_stat_progress_basebackup
36                        pg_user_mappings
37                             user_search
38                                 pg_enum
39                            pg_namespace
40                           pg_conversion
41                               pg_depend
42                             pg_database
43                      pg_db_role_setting
44                           pg_tablespace
45                         pg_auth_members
46                             pg_shdepend
47                        pg_shdescription
48                            pg_ts_config
49                        pg_ts_config_map
50                              pg_ts_dict
51                            pg_ts_parser
52                          pg_ts_template
53                            pg_extension
54                 pg_foreign_data_wrapper
55                       pg_foreign_server
56                               pg_policy
57                   pg_replication_origin
58                          pg_default_acl
59                           pg_init_privs
60                             pg_seclabel
61                           pg_shseclabel
62                            pg_collation
63                    pg_partitioned_table
64                                pg_range
65                            pg_transform
66                             pg_sequence
67                          pg_publication
68                      pg_publication_rel
69                     pg_subscription_rel
70                                pg_group
71                                 pg_user
72                             pg_policies
73                                pg_rules
74                                pg_views
75                               pg_tables
76                             pg_matviews
77                              pg_indexes
78                            pg_sequences
79                                pg_stats
80                            pg_stats_ext
81                   pg_publication_tables
82                                pg_locks
83                              pg_cursors
84                 pg_available_extensions
85         pg_available_extension_versions
86                       pg_prepared_xacts
87                            pg_seclabels
88                   pg_statio_user_tables
89                     pg_stat_all_indexes
90                     pg_timezone_abbrevs
91                       pg_timezone_names
92                     pg_stat_sys_indexes
93                      pg_stat_all_tables
94                 pg_stat_xact_all_tables
95                      pg_stat_sys_tables
96                 pg_stat_xact_sys_tables
97                     pg_stat_user_tables
98                pg_stat_xact_user_tables
99                    pg_statio_all_tables
100                   pg_statio_sys_tables
101                   pg_stat_user_indexes
102                  pg_statio_all_indexes
103                  pg_statio_sys_indexes
104                 pg_statio_user_indexes
105                pg_statio_all_sequences
106                pg_statio_sys_sequences
107               pg_statio_user_sequences
108                       pg_stat_activity
109                    pg_stat_replication
110                           pg_stat_slru
111                   pg_stat_wal_receiver
112                   pg_stat_subscription
113                            pg_stat_ssl
114                         pg_stat_gssapi
115                   pg_replication_slots
116                       pg_stat_database
117             pg_stat_database_conflicts
118                 pg_stat_user_functions
119            pg_stat_xact_user_functions
120                       pg_stat_archiver
121                       pg_stat_bgwriter
122               pg_stat_progress_analyze
123                                columns
124        information_schema_catalog_name
125                             collations
126                       applicable_roles
127      administrable_role_authorizations
128                      column_privileges
129                             attributes
130  collation_character_set_applicability
131                         character_sets
132         check_constraint_routine_usage
133                      check_constraints
134                    column_column_usage
135                    column_domain_usage
136                       column_udt_usage
137                constraint_column_usage
138                 constraint_table_usage
139                     domain_constraints
140                       domain_udt_usage
141                                domains
142                          enabled_roles
143                sql_implementation_info
144                       key_column_usage
145                             parameters
146                referential_constraints
147                     role_column_grants
148                              sql_parts
149                     routine_privileges
150                    role_routine_grants
151                               routines
152                               schemata
153                                 tables
154                              sequences
155                             sql_sizing
156                           sql_features
157                      table_constraints
158                             transforms
159                       table_privileges
160                      role_table_grants
161                         udt_privileges
162               triggered_update_columns
163                               triggers
164                       usage_privileges
165                        role_udt_grants
166                      role_usage_grants
167                     user_defined_types
168                      view_column_usage
169                     view_routine_usage
170                       view_table_usage
171                         foreign_tables
172                                  views
173                   data_type_privileges
174                      _pg_user_mappings
175                          element_types
176              _pg_foreign_table_columns
177                         column_options
178              _pg_foreign_data_wrappers
179           foreign_data_wrapper_options
180                   user_mapping_options
181                  foreign_data_wrappers
182                    _pg_foreign_servers
183                 foreign_server_options
184                        foreign_servers
185                     _pg_foreign_tables
186                          user_mappings
187                  foreign_table_options

In [37]:
query1 = '''DROP TABLE products_id'''

cursor.execute(query1)
cursor.execute(query)

records = cursor.fetchall()

df = pd.DataFrame(records)

df.head()

                  0
0           pg_type
1         price_kwh
2  pg_foreign_table
3    product_family
4          pg_roles

In [13]:
data1 = pd.read_csv('../data/eprel/clean_data/normalized_columns/1_dishwashers.csv')
data2 = pd.read_csv('../data/eprel/clean_data/normalized_columns/6_campanas.csv')

In [15]:
data1.rename(columns={'Type':'Product_family', 'Title':'Model'}, inplace=True)
data2.rename(columns={'Type':'Product_family', 'Title':'Model'}, inplace=True)

In [17]:
data1['Product_family'] = 'lavavajillas'
data2['Product_family'] = 'campana_extractora'

In [18]:
df = pd.concat([data1, data2])

In [20]:
df.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [22]:
df.head()

,Product_family,Brand,Model,Type_consumption,Consumption,Label,Other
0,lavavajillas,Iberna,IDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0
1,lavavajillas,Baumatic,BDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0
2,lavavajillas,Siemens,SN23HW00ME,"Energy consumption [per 100 cycles, based on t...",85,https://eprel.ec.europa.eu/assets/images/label...,14.0
3,lavavajillas,Bosch,SMS4HMI02E,"Energy consumption [per 100 cycles, based on t...",85,https://eprel.ec.europa.eu/assets/images/label...,14.0
4,lavavajillas,Siemens,SN23HI00KE,"Energy consumption [per 100 cycles, based on t...",84,https://eprel.ec.europa.eu/assets/images/label...,13.0

In [ ]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df.to_sql('products', engine)

In [6]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [35]:
df = pd.read_sql('''SELECT * FROM products WHERE "Brand" = ' Iberna \' AND "Model" = ' IDIH 2L952-80 \'''', db)

In [37]:
df

,index,Product_family,Brand,Model,Type_consumption,Consumption,Label,Other
0,0,lavavajillas,Iberna,IDIH 2L952-80,"Energy consumption [per 100 cycles, based on t...",70,https://eprel.ec.europa.eu/assets/images/label...,9.0

In [26]:
df_id = pd.read_csv('../data/eprel/aparatos_Id')

In [28]:
df_id.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [30]:
df_id.head()

     Type    Brand       Model       Id
0  Washer    Bosch  WIW28502GB  1091637
1  Washer  Siemens  WIW28502GB  1093628
2  Washer    Bosch  WAN2827SPL   913001
3  Washer    Bosch  WAU28R90CH  1207854
4  Washer  Siemens    WM14N223   865679

In [31]:
# df_id['Brand'] = df_id['Brand'].apply(lambda x: x[1:-1])
# df_id['Model'] = df_id['Model'].apply(lambda x: x[1:-1])
df_id['Brand'] = df_id['Brand'].apply(lambda x: x.lower())
df_id['Model'] = df_id['Model'].apply(lambda x: x.lower())
df_id['Type'] = df_id['Type'].apply(lambda x: x.lower())

In [33]:
df_id.head()

     Type    Brand       Model       Id
0  washer    bosch  wiw28502gb  1091637
1  washer  siemens  wiw28502gb  1093628
2  washer    bosch  wan2827spl   913001
3  washer    bosch  wau28r90ch  1207854
4  washer  siemens    wm14n223   865679

In [38]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df_id.to_sql('products_id', engine)

In [6]:
product_family_table = ['dishwasher', 'washer', 'tv/monitor', 'fridge/freezer', 'oven',
                        'range_hood', 'water_heater', 'light']

consumption_type = ['cycle', 'cycle', 'hour', 'permanent', 'hours_week', 'hour', 'hour', 'hour']

In [7]:
product_family_df = pd.DataFrame()

In [8]:
product_family_df['Product_family'] = product_family_table

In [9]:
product_family_df['Consumption_type'] = consumption_type

In [10]:
product_family_df

   Product_family Consumption_type
0      dishwasher            cycle
1          washer            cycle
2      tv/monitor             hour
3  fridge/freezer        permanent
4            oven       hours_week
5      range_hood             hour
6    water_heater             hour
7           light             hour

In [11]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
product_family_df.to_sql('product_family', engine)

In [53]:
user_df = pd.DataFrame(columns=['Session_id','Brand1', 'Model1', 'Brand2', 'Model2', 'Hours_day', 'Price_kwh', 'Datetime', 'Cost1', 'Cost2', 'Product_family', 'Crossing_year', 'Crossing_cost'])

In [54]:
user_df

Empty DataFrame
Columns: [Session_id, Brand1, Model1, Brand2, Model2, Hours_day, Price_kwh, Datetime, Cost1, Cost2, Product_family, Crossing_year, Crossing_cost]
Index: []

In [55]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
user_df.to_sql('user_search', engine)

In [8]:
db = psycopg2.connect(host='desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com',
                        port=5432,
                        user='postgres',
                        password='desafiotripulaciones',
                        database='etiqueta_energetica')

db.autocommit=True

cursor = db.cursor()

In [9]:
df = pd.read_sql('''SELECT * FROM user_search;''', db)

In [13]:
pd.set_option('display.max_rows', None)

In [19]:
df.loc[df['Session_id'] == 'a7e54270-4fbd-11ed-986f-3219660d67bd']

,index,Session_id,Brand1,Model1,Brand2,Model2,Hours_day,Price_kwh,Datetime,Cost1,Cost2,Product_family,Crossing_year,Crossing_cost
136,None,a7e54270-4fbd-11ed-986f-3219660d67bd,None,None,None,None,None,None,None,None,None,None,None,None

In [28]:
df

                          0
0                   pg_type
1                 price_kwh
2          pg_foreign_table
3            product_family
4               user_search
..                      ...
182  foreign_server_options
183         foreign_servers
184      _pg_foreign_tables
185           user_mappings
186   foreign_table_options

[187 rows x 1 columns]

In [155]:
price_kwh = pd.DataFrame(columns=['Date', 'Price'])

In [156]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
price_kwh.to_sql('price_kwh', engine)

In [42]:
df_total_products = pd.read_csv('../data/eprel/clean_data/df_clear')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [93]:
mask = (df_total_products['Product_family'] == 'fridge/freezer')
df_total_products[mask]

       Product_family       Brand             Model  Consumption Label Other
33324  fridge/freezer       ocean        cb 290 w 2     0.031963     F   204
33325  fridge/freezer     samsung       rl38a7b63ww     0.019292     C   273
33326  fridge/freezer     samsung       rb34a7b4ds9     0.023288     D   230
33327  fridge/freezer     samsung       rb34a7b4dww     0.023288     D   230
33328  fridge/freezer  kitchenaid  kcbpf 18120 2 uk     0.013470     E   359
...               ...         ...               ...          ...   ...   ...
54556  fridge/freezer       bosch          ksw38940     0.027854     G   368
54557  fridge/freezer     ardesto      ddf-m260w177     0.029110     F    65
54558  fridge/freezer       nevir      nvr-5500 sdc     0.012215     F    91
54559  fridge/freezer       orima         orch 41 b     0.018493     G    33
54560  fridge/freezer     dometic      mobar100dzac     0.017009     G   100

[21237 rows x 6 columns]

In [45]:
import numpy as np

In [48]:
df_total_products["Other"] = np.where(df_total_products["Product_family"] == 'range hoods', 'Undefined', df_total_products["Other"])
df_total_products["Product_family"] = np.where(df_total_products["Product_family"] == 'range hoods', 'range_hood', df_total_products["Product_family"])
df_total_products["Product_family"] = np.where(df_total_products["Product_family"] == 'water heaters', 'water_heater', df_total_products["Product_family"])

In [49]:
df_total_products['Product_family'].unique()

array(['dishwasher', 'washer', 'tv/monitor', 'fridge/freezer', 'oven',
       'range_hood', 'water_heater', 'light'], dtype=object)

In [58]:
engine = create_engine('postgresql://postgres:desafiotripulaciones@desafio-tripulaciones.c5mpkjhryqaz.us-east-2.rds.amazonaws.com:5432/etiqueta_energetica')
df_total_products.to_sql('products', engine)